<div class="col-sm-1 col-lg-6">
    <div class="form-label">
        {{ form_label(field) }}
    </div>
    {{ form_widget(field, {'attr': {'class': 'form-select'}}) }}
    <small>{{ form_help(field) }}</small>
</div>